@model MusicGallery.Models.Music

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = Model.DisplayText;
}

<h2>@Model.DisplayText</h2>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h5><label>Band:</label> @Model.BandName</h5>
      <h5><label>Album:</label> @Model.AlbumTitle</h5>
      <h5><label>Release Date:</label> @Model.ReleaseDate</h5>

      <h5>Band Members:</h5>
      <div>
        <ul>
          @foreach (var artist in Model.Artists)
          {
            <li>@artist.Name - @artist.Role</li>
          }
        </ul>
      </div>
    </div>
    <h5>Description</h5>
    @Html.Raw(Model.DescriptionHtml)
  </div>
  <div class="col-md-6">
    <img src="~/Images/@Model.CoverImageFileName" alt="@Model.DisplayText" class="img-responsive" />
  </div>
</div>