@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Music Detail";
}

<h1>@ViewBag.BandName</h1>
<h2>@ViewBag.AlbumTitle</h2>
<h4>Release Date: @ViewBag.ReleaseDate</h4>

<h5>Description:</h5>
@Html.Raw(ViewBag.Description)

<h5>Artists:</h5>
<ul>
  @foreach (var artist in ViewBag.Artists)
  {
    <li>@artist</li>
  }
</ul>